<div class="row" *ngFor="let magicItem of shopProducts; index as productID">
<!--^^ class="row"-->

  <!-- <div>
    <ng-template [ngIf]="productID == 0"> <br><font style="color:rgb(255,255,255)">Shop Owner:  {{welcomeMessage}}<br></font>
  </ng-template>
  </div> -->

<div>
<!--<div class="column">-->
  <h3>
    <a [title]="magicItem.name + ' of ' + magicItem.enchantment.name" href="{{magicItem.routerInfo}}" target="_blank" style="color:rgb(255, 255, 255)"><u>
      {{ magicItem.name }} of {{ magicItem.enchantment.name }}
    </u></a>

    <br><button (click)="reshuffle(productID)" style="background-color:rgb(0, 0, 180)"><i class="material-icons iconWhite">replay</i>
      Re-Shuffle 
    </button>

    <!--Spell Level-->
    <ng-template [ngIf]="magicItem.enchantment.level != 0"><font style="color:white">
      &nbsp;&nbsp;Level: <i class="material-icons iconWhite">filter_{{ magicItem.enchantment.level }}</i></font></ng-template>
    <ng-template [ngIf]="magicItem.enchantment.level == 0"><font style="color:white">&nbsp;&nbsp;Level: Cantrip</font></ng-template>
    <!--Save DC Flag-->
    <ng-template [ngIf]="magicItem.saveDC"><font style="color:white">&nbsp;&nbsp;Save DC: {{magicItem.saveDC}}</font></ng-template>
    <!--Attack Spell Flag-->
    <ng-template [ngIf]="magicItem.enchantment.attackflag == 1">&nbsp;&nbsp;<i class="material-icons iconAtk">whatshot</i></ng-template>
    <!--<ng-template [ngIf]="magicItem.enchantment.attackflag == 0"><font style="color:white">&nbsp;&nbsp;Attack Spell: <i class="material-icons iconWhite">clear</i></font></ng-template>-->  
  </h3>
  <!--</div>-->
  </div>

  <script>
    data() {
      return {
        minVal: 0,
        maxVal: 9,
      }
    }
  </script>
</div>
