.material-icons.iconOpenStore { color: rgb(24, 0, 186); }

h1 {
  font-family: "Comic Sans MS", cursive, sans-serif;
}
font {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/