.material-icons.iconOpenStore { color: rgb(24, 0, 186); }

h1 {
  font-family: "Comic Sans MS", cursive, sans-serif;
}
font {
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.set-size {
  width: 500px;
  height: 120px;
}
